#nav {
  background-color: #1e2624;
}
#homenv {
  margin-top: 4%;
}
#logot {
  display: block;
  width: 20px;
  margin-right: 2%;
}

#sign {
  width: 20px;
  margin-right: 5%;
}

.card {
  margin-top: 10%;

  margin-left: 3%;
  margin-right: 3%;
}

#footcolor {
  background-image: linear-gradient(#1e2624, #9eb7a0);
}
#btn {
  color: #1e2624;
  background-color: #9eb7a0;
}

#form {
  background-image: "/images/logot.png";
  position: cover;
  background-repeat: no-repeat;
}


#cardhead {
  background-color: #9eb7a0;
  color: #1e2624;
}

#btnpro {
  background-color: #e2725b;
}

#cardpro {
  margin-top: 9%;
  margin-bottom: 10%;
}

#zoom {
  transition: transform 0.2s; /* Animation */
}
#zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#badge {
  width: 50px;
  margin-top: 30%;
  margin-left: 59%;
  padding-bottom: 30%;
}
#badgeh {
  margin-left: 0%;
  margin-top: 40%;
  font-weight: bold;
}
